<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="HelloConsumer"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            thread="any"
            visible="true">
         <run
               class="org.eclipse.ecf.examples.internal.remoteservices.hello.bp.consumer.HelloClientApplication">
         </run>
      </application>
   </extension>

</plugin>
